* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/nature.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  margin-top: 30px;
}
ul li a {
  background-color: violet;
  color: white;
  border-radius: 20px;
  padding: 10px;
}
.nav2 {
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: none;
}
nav ul li:hover .nav2 {
  display: block;
}
#html {
  position: relative;
}
#html5 {
  display: none;
  position: absolute;
}
#html:hover #html5 {
  display: block;
}

#html5 {
  left: 80px;
  bottom: 0px;
}
